.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Mcd79TwitterSearchConnector/v16/.suo
.vs/Mcd79TwitterSearchConnector/v16/TestStore/0/000-0000.testlog
.vs/Mcd79TwitterSearchConnector/v16/TestStore/0/testlog.manifest
parameters.json
